h1 {
    text-align: center;
}

input {
    display: block;
}

#newBookForm {
    margin-bottom: 15px;
    margin: 15px auto;
}

#formWrapper {
    display: flex;
}

#books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: 15px;
}

.bookCard {
    box-shadow: 5px 5px 5px gray;
}

.cardButtons {
    display: flex;
    justify-content: space-evenly;
}

button {
    padding: 5px 15px;
    border: 0;
    border-radius: 10px;
}

.newBook {
    background-color: #3DDC97;
    margin: 15px auto;
    display: block;
}

.removeBook {
    background-color: #FF495C;
}

.changeReadStatus {
    background-color: #46237A;
    color: white;
}

#submit {
    background-color: #256EFF;
    color: white;
    padding: 5px 15px;
    border: 0;
    border-radius: 10px;
    margin: 0 auto;
}